.bg-blue {
  background-color: #00B4D8 !important;
}

.bg-green {
  background-color: rgb(25, 207, 89) !important;
}

.text-blue {
  color: #00B4D8 !important;
}

.bg-light-gray {
  background-color: lightgray !important;
}


.bg-green {
  background-color: #00d84a; /* your green */
  border-radius: 5px;
}

.table {
  border-collapse: separate;
  border-spacing:0.3vh 0.3vh; /* horizontal | vertical gap */
}

.table td, .table th {
  text-align: center;         /* center horizontally */
  vertical-align: middle;     /* center vertically */
}

.table th {
  background-color: black !important;
  color: white !important;
  border-radius: 2vh !important;
}

.table td {
  border-radius: 2vh !important;
}